abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: initial;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: none;
}
a {
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: initial;
}
ins {
  background-color: #ff9;
  text-decoration: none;
}
ins,
mark {
  color: #000;
}
mark {
  font-style: italic;
  font-weight: 700;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-spacing: 0;
}
hr {
  border: 0;
  border-top: 1px solid #ccc;
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}

/*
! tailwindcss v3.2.4 | MIT License | https://tailwindcss.com
*/
*,
:after,
:before {
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
}
:after,
:before {
  --tw-content: "";
}
html {
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: normal;
  font-feature-settings: normal;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  line-height: 1.5;
  tab-size: 4;
}
body {
  line-height: inherit;
  margin: 0;
}
hr {
  border-top-width: 1px;
  color: inherit;
  height: 0;
}
abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  color: inherit;
  text-decoration: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: initial;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
table {
  border-collapse: collapse;
  border-color: inherit;
  text-indent: 0;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}
button,
select {
  text-transform: none;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
  background-color: initial;
  background-image: none;
}
:-moz-focusring {
  outline: auto;
}
:-moz-ui-invalid {
  box-shadow: none;
}
progress {
  vertical-align: initial;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
summary {
  display: list-item;
}
blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}
fieldset {
  margin: 0;
}
fieldset,
legend {
  padding: 0;
}
menu,
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #9ca3af;
  opacity: 1;
}
input::placeholder,
textarea::placeholder {
  color: #9ca3af;
  opacity: 1;
}
[role="button"],
button {
  cursor: pointer;
}
:disabled {
  cursor: default;
}
audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
  vertical-align: middle;
}
img,
video {
  height: auto;
  max-width: 100%;
}
[hidden] {
  display: none;
}
*,
:after,
:before {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
::-webkit-backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
.absolute {
  position: absolute;
}
.bottom-0 {
  bottom: 0;
}
.left-0 {
  left: 0;
}
.top-0 {
  top: 0;
}
.right-0 {
  right: 0;
}
.z-20 {
  z-index: 20;
}
.my-8 {
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 0.75rem;
}
.flex {
  display: flex;
}
.hidden {
  display: none;
}
.h-8 {
  height: 2rem;
}
.min-h-\[250px\] {
  min-height: 250px;
}
.w-full {
  width: 100%;
}
.w-8 {
  width: 2rem;
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.space-y-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
  margin-top: calc(0.5rem * (1 - var(--tw-space-y-reverse)));
}
.space-x-20 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-left: calc(5rem * (1 - var(--tw-space-x-reverse)));
  margin-right: calc(5rem * var(--tw-space-x-reverse));
}
.border-b {
  border-bottom-width: 1px;
}
.p-4 {
  padding: 1rem;
}
.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.py-8 {
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.uppercase {
  text-transform: uppercase;
}
.shadow {
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
    0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: 0 0 #0000, 0 0 #0000, var(--tw-shadow);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
html {
  font-family: "                  ", cursive;
}

*justify-center {
  justify-content: left;
}
.text-sm {
  font-size: 1.24rem;
  line-height: 2.25rem;
}
.pepe1 {
  -webkit-animation: float 8s;
  animation: float 8s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  bottom: -500px;
  left: -43px;
  margin-top: 100px;
  position: fixed;
  width: 520px;
  z-index: -999;
}
@-webkit-keyframes float {
  0% {
    -webkit-transform: translatey(0);
    transform: translatey(0);
  }
  to {
    -webkit-transform: translatey(-500px);
    transform: translatey(-500px);
  }
}
@keyframes float {
  0% {
    -webkit-transform: translatey(0);
    transform: translatey(0);
  }
  to {
    -webkit-transform: translatey(-500px);
    transform: translatey(-500px);
  }
}
.pepe2 {
  display: none;
}
body {
  background: url(/static/media/back.154a89f145e8fa353c4b.jpg) no-repeat 50%
    fixed;
  background-position: 50% 75%;
  background-size: cover;
}
@media only screen and (min-width: 999px) {
  .pepe2 img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  .pepe2 {
    -webkit-animation: float 8s;
    animation: float 8s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    bottom: -500px;
    display: block;
    margin-top: 100px;
    position: fixed;
    right: 115px;
    width: 400px;
    z-index: -99999999;
  }
  @-webkit-keyframes float {
    0% {
      -webkit-transform: translatey(0);
      transform: translatey(0);
    }
    to {
      -webkit-transform: translatey(-500px);
      transform: translatey(-500px);
    }
  }
  .pepe1 {
    -webkit-animation: float 8s;
    animation: float 8s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    bottom: -500px;
    left: 26px;
    margin-top: 100px;
    position: fixed;
    width: 520px;
    z-index: -99999999;
  }
  @keyframes float {
    0% {
      -webkit-transform: translatey(0);
      transform: translatey(0);
    }
    to {
      -webkit-transform: translatey(-500px);
      transform: translatey(-500px);
    }
  }
}
@media only screen and (min-width: 1200px) {
  .pepe1 {
    z-index: 9999;
  }
}
.hover\:underline:hover {
  text-decoration-line: underline;
}
@media (min-width: 640px) {
  .sm\:mt-0 {
    margin-top: 0;
  }
  .sm\:text-center {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .md\:flex {
    display: flex;
  }
  .md\:items-center {
    align-items: center;
  }
  .md\:justify-between {
    justify-content: space-between;
  }
  .md\:p-6 {
    padding: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .lg\:flex {
    display: flex;
  }
  .lg\:hidden {
    display: none;
  }
}
h1 {
  color: #333;
  font-size: 5rem;
  text-align: center;
  -webkit-text-decoration: underline 2px;
  text-decoration: underline 2px;
  text-underline-offset: 5px;
}
.gun {
  width: 50px;
}
.name {
  margin: 0 auto;
  width: 30rem;
}
P {
  color: #333;
  font-size: 1.6rem;
}
.content {
  background-color: #8293a8c7;
  border-radius: 2px;
  line-height: 1.4;
  padding: 10px;
}
.join {
  color: red;
  cursor: pointer;
  display: flex;
  font-size: 3rem;
  justify-content: center;
  text-decoration: underline;
  text-decoration-style: dotted;
}
.join:hover {
  box-shadow: red;
}
.content-container {
  background-color: #18141f95;
  border-radius: 4px;
  line-height: 1.4;
  margin: 0 auto 50px;
  position: relative;
  width: 97%;
}
.moon {
  color: red;
}
.launch-btn {
  border-radius: 100%;
  color: #eaeaeb;
  font-size: 3rem;
  max-width: 200px;
  padding: 60px 50px;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.6s;
  transition-timing-function: ease-in-out;
}
@media only screen and (min-width: 800px) {
  .content-container {
    background-color: #18141f00;
    margin-top: 100px;
    max-width: 1240px;
  }
  P {
    color: #333;
    font-size: 2rem;
  }
  .launch-btn {
    border-radius: 100%;
    color: #eaeaeb;
    font-size: 3rem;
    max-width: 400px;
    padding: 60px 50px;
    position: absolute;
    transition: 0.6s;
    transition-timing-function: ease-in-out;
  }
}
@media only screen and (min-width: 2000px) {
  .content-container {
    display: flex;
    justify-content: space-between;
    margin: 250px;
    max-width: 2000px;
  }
  .launch-btn {
    border-radius: 100%;
    color: #eaeaeb;
    font-size: 3rem;
    max-width: 400px;
    padding: 60px 50px;
    position: absolute;
    transition: 0.6s;
    transition-timing-function: ease-in-out;
  }
}
footer {
  bottom: 0;
  position: fixed;
  z-index: -9999999;
}
.footer {
  z-index: -9999;
}
.medium {
  width: 40px;
}
.ca,
.logosmall {
  display: none;
}
@media only screen and (min-width: 1000px) {
  .ca {
    display: block;
    font-size: 1.2rem;
    margin: 0 auto;
    position: relative;
    right: 100px;
    text-align: center;
  }
  .logosmall {
    margin-left: 10px;
    width: 63px;
  }
}
header {
  display: flex;
  justify-content: center;
  margin: 30px auto 0;
}
.logo {
  margin-right: 4rem;
  width: 80px;
}
.camel,
.headerMap {
  margin: 0 auto;
}
.headerMap {
  width: 6.5rem;
}
.bar {
  cursor: pointer;
  margin: 9px auto;
  max-width: 311px;
  position: relative;
  width: 50%;
}
.home img {
  width: 60px;
}
.box {
  -webkit-animation-duration: 9s;
  animation-duration: 9s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  position: relative;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
}
.bounce-1 {
  -webkit-animation-name: bounce-1;
  animation-name: bounce-1;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
@-webkit-keyframes bounce-1 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes bounce-1 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.bar:hover {
  background-color: var(--background-colors);
  box-shadow: 0 2px 7px #fff;
}
.HAMBURGER-ICON span {
  background-color: var(--background-color);
}
.cross {
  color: var(--text);
}
.hideMenuNav {
  display: none;
}
.menu {
  color: #333;
  font-size: 1.8rem;
  text-align: center;
}
.toe {
  font-size: 1.5rem;
}
.showMenuNav {
  align-items: center;
  background-color: #110816;
  color: #fff;
  display: block;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}
.connect,
.showMenuNav {
  cursor: pointer;
  font-size: 2.5rem;
}
.connect {
  background-color: var(--text);
  color: #333;
  font-weight: 600;
  transition: 0.6s;
  transition-timing-function: ease-in-out;
}
.connect:hover {
  background-color: var(--background-color);
  color: red;
}
.home a {
  background-color: var(--text);
  color: #333;
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: 600;
  padding: 19px 8px;
  transition: 0.6s;
  transition-timing-function: ease-in-out;
}
.home a:hover {
  background-color: var(--background-color);
  color: red;
}
.home i {
  transition: 0.6s;
  transition-timing-function: ease-in-out;
}
.DESKTOP-MENU {
  align-items: center;
  background-color: var(--backgroundContainer);
  color: var(--text);
  cursor: pointer;
  display: flex;
  font-weight: 700;
  padding: 1rem;
}
.DESKTOP-MENU li :hover {
  color: red;
  text-underline-offset: 2px;
}
.fa-brands {
  color: #333;
}
@media only screen and (max-width: 999px) {
  .DESKTOP-MENU {
    display: none;
  }
}
@media only screen and (min-width: 999px) {
  header {
    display: block;
    justify-content: left;
    margin-left: 35px;
  }
  .MOBILE-MENU {
    display: none;
  }
  header ul {
    margin-top: 0;
  }
}
.span-pass {
  color: #fff;
  padding-top: 10px;
}
.planet-area {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  z-index: -999999;
}
.planet {
  bottom: -2px;
  left: -2px;
  width: 300px;
}
.planet,
.rocket {
  position: absolute;
  z-index: -9999;
}
.rocket {
  bottom: 116px;
  left: 118px;
  -webkit-transform: rotate(25deg);
  transform: rotate(25deg);
  width: 200px;
}
.control-panel__inner {
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px;
  min-height: 200px;
  padding: 20px 10px;
  position: absolute;
  right: 0;
  width: 380px;
}
input[type="range"] {
  height: 20px;
  margin: 0;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  width: 80px;
}
.inline {
  flex-direction: row;
}
.inline,
.modal {
  display: flex;
  justify-content: center;
}
.modal {
  background-color: #a2a2a2;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 999999;
}
.close,
.modal {
  align-items: center;
}
.close {
  font-size: 2.5rem;
  text-align: center;
}
.about-container {
  font-size: 2rem;
  text-align: center;
}
.close button {
  border: 2px solid #000;
  border-radius: 100%;
  padding: 10px 26px;
}
iframe {
  border: 0;
  border-radius: 10px;
  display: block;
  height: 60vh;
  margin: 10px auto;
  width: 100%;
}
@media only screen and (min-width: 999px) {
  iframe {
    border: 0;
    border-radius: 10px;
    display: block;
    height: 60vh;
    margin: 10px auto;
    width: 500px;
  }
}
#loading {
  align-items: center;
  background-color: #8293a8c7;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}
.background .modal {
  background-image: url(/static/media/oldMap.7e7058b4a59d8c0c1c16.jpeg);
  background-position: 50% 75%;
  background-size: cover;
}
.map {
  position: relative;
  right: 10px;
}
/*# sourceMappingURL=main.61bdf92c.css.map*/
